#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [59]:
users = pd.read_csv("users_table.csv")
users.head()
print(users["Id"].count())
print(users.dtypes)

40325
Id                   int64
Reputation           int64
CreationDate        object
DisplayName         object
LastAccessDate      object
WebsiteUrl          object
Location            object
AboutMe             object
Views                int64
UpVotes              int64
DownVotes            int64
AccountId            int64
Age                float64
ProfileImageUrl     object
dtype: object

#### 3. Rename Id column to userId

In [67]:
users = users.rename(columns={"Id": "userId"})
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [57]:
posts = pd.read_csv("posts_table.csv")
posts.head()
posts.dtypes

Id                         int64
PostTypeId                 int64
AcceptedAnswerId         float64
CreaionDate               object
Score                      int64
ViewCount                float64
Body                      object
OwnerUserId              float64
LasActivityDate           object
Title                     object
Tags                      object
AnswerCount              float64
CommentCount               int64
FavoriteCount            float64
LastEditorUserId         float64
LastEditDate              object
CommunityOwnedDate        object
ParentId                 float64
ClosedDate                object
OwnerDisplayName          object
LastEditorDisplayName     object
dtype: object

#### 5. Rename Id column to postId and OwnerUserId to userId

In [64]:
posts = posts.rename(columns={"Id" : "postId", "OwnerUserId": "userId" })
posts["userId"] = posts["userId"].fillna(-1).astype("int64")
posts.dtypes

postId                     int64
PostTypeId                 int64
AcceptedAnswerId         float64
CreaionDate               object
Score                      int64
ViewCount                float64
Body                      object
userId                     int64
LasActivityDate           object
Title                     object
Tags                      object
AnswerCount              float64
CommentCount               int64
FavoriteCount            float64
LastEditorUserId         float64
LastEditDate              object
CommunityOwnedDate        object
ParentId                 float64
ClosedDate                object
OwnerDisplayName          object
LastEditorDisplayName     object
dtype: object

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [68]:
users_subset = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
posts_subset = posts[["postId", "Score", "userId", "ViewCount", "CommentCount"]]
users_subset["userId"].count()

40325

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [69]:
merged_df = pd.merge(left = users_subset, right = posts_subset, left_on= "userId", right_on= "userId")
merged_df.head()
merged_df.count()

userId          40000
Reputation      40000
Views           40000
UpVotes         40000
DownVotes       40000
postId          40000
Score           40000
ViewCount       15895
CommentCount    40000
dtype: int64

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [70]:
merged_df.isnull().sum() #column ViewCount has many missing values
merged_df.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,15895.000000,40000.000000
mean,5921.285450,7092.173300,1364.301200,1020.992275,92.527375,22709.318350,4.086500,1206.583202,2.011525
std,5246.477817,15011.159208,3386.498364,2358.064242,338.340215,13763.536209,6.589488,3872.525910,2.673990
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,14.000000,0.000000
25%,1036.000000,133.000000,13.000000,4.000000,0.000000,10883.750000,1.000000,174.000000,0.000000
50%,4705.000000,826.000000,110.000000,71.000000,1.000000,22050.500000,2.000000,387.000000,1.000000
75%,9433.500000,7461.000000,975.750000,662.000000,19.000000,33536.500000,5.000000,978.000000,3.000000
max,55226.000000,87393.000000,20932.000000,11442.000000,1920.000000,48325.000000,192.000000,175495.000000,45.000000

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [45]:
missing_values = merged_df[merged_df["ViewCount"].isnull()]
missing_values.describe()
#since the missing values count to a large amount of the dataset and 
# i dont see a correlation with other columns, i would drop the column ViewCount
merged_df["userId"].value_counts()

userId
11032    966
919      824
686      665
930      451
4505     383
        ...
8837       1
8835       1
8833       1
8830       1
55226      1
Name: count, Length: 8138, dtype: int64

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [71]:
merged_df.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,15895.000000,40000.000000
mean,5921.285450,7092.173300,1364.301200,1020.992275,92.527375,22709.318350,4.086500,1206.583202,2.011525
std,5246.477817,15011.159208,3386.498364,2358.064242,338.340215,13763.536209,6.589488,3872.525910,2.673990
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,14.000000,0.000000
25%,1036.000000,133.000000,13.000000,4.000000,0.000000,10883.750000,1.000000,174.000000,0.000000
50%,4705.000000,826.000000,110.000000,71.000000,1.000000,22050.500000,2.000000,387.000000,1.000000
75%,9433.500000,7461.000000,975.750000,662.000000,19.000000,33536.500000,5.000000,978.000000,3.000000
max,55226.000000,87393.000000,20932.000000,11442.000000,1920.000000,48325.000000,192.000000,175495.000000,45.000000

In [ ]:
print(merged_df.dtypes)
# the datatype of userId in posts file to integer as already adjusted above

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object